@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
body{
    margin: 0px;
    background-image: url("Subtle-Stripes.svg");
}
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: black;
    border-collapse: collapse;
    color: orange;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
li{
    padding: 0px 30px 0px 30px ;
    font-family: 'Roboto';
    font-weight: 300;
}
a{
    color: orange;
}
.bill{
    display: flex;
    justify-content: center;
    height: 29vh;
    background-image: url("header.jpg");
    background-size: cover;
    background-position-y: center;
    position:relative;
}
.div1{
    margin: 10px;
    position: absolute;
    padding: 10px;
    left: 5px;
    background-color: rgba(70, 70, 70, 0.5);
}
h1{
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
}
h2{
    color: orange;
    font-family: 'Roboto';
    font-weight: 700;
}
.p{
   color: rgba(70, 70, 70, 0.5);
   font-style: italic;
}
p{
    font-family: 'Roboto';
    font-weight: 300;
}
.nav1{
    display: flex;
    justify-content: center;
}
.billede{
    max-width: 1200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.c1, .c2, .c3, .c4, .c5, .c6{
    flex-grow: 1;
    border-style: ridge;
    border-width: 1px;
    background-color: white;
    max-width: 250px;
    
}
.c5, .c6{
    flex-grow: 1;
}

.c1:hover, .c2:hover, .c3:hover, .c4:hover, .c5:hover, .c6:hover{
    box-shadow: 5px 5px 5px;
}
img{
    width: 200px;
    
}
.div2{
    background-color: black;
    color: orange;
    text-align: center;
}
.h5{
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 7px;
    width: 60px;
    background-color: black;
    color: orange;
    border-radius: 15px;
    justify-content: center;
}
.h1{
    display: flex;
    justify-content: center;
    font-weight: 400;
    color: black;
}
