table, tr, th, td {
    
    width: 600px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}
#main{
    color:orange;
    font-size: 30px;
}
.question{
    color: lightseagreen;
    font-size: 18px;
}
.answer{
    color: lightseagreen;
    font-size: 18px;
}

body{
    font-weight: bold;
}